body {
  background-color: #196247;
  font-family: Arial, sans-serif;
  font-size: 16px;
  padding: 20px;
}

li {
  background-color: #c1c4c1;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  margin: 10px 0;
  padding: 10px;
}

li:hover {
  background-color: hsl(276, 44%, 78%);
}

.delete {
  float: right;
  font-size: 22px;
  font-weight: bold;
}

.delete:hover {
  color: #dfb1dc;
}

.checked {
  text-decoration: line-through;
  color: rgb(208, 160, 206);
}
